* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    height: auto;
}

.sidebar {
    background-color: #00aaff;
    justify-content: center;
    width: 40%;
    display: grid;
    padding: 40px 20px;
}

.main-content {
    width: 60%;
    background-color: #f8f8f8;
    align-content: center;
    padding: 20px 2vw;
}

.form-container {
    width: 100%;
    padding: 0 10%;
}

h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;

}

p {
    font-size: 20px;
    color: #ffffff;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-input {
    border: none;
    border-bottom: 3px solid #e2e2e2;
    outline: none;
    width: 100%;
    min-width: 334px;
    background-color: #f8f8f8;
    font-size: 20px;

}
.text-input::placeholder {
    font-size: 14px;
}
select,
option {
    background-color: rgba(248, 248, 248, 255);
    font-size: 20px;
    width: 100%;
}

.choice-label {
    font-size: 20px;
}

label {
    font-size: 20px;
}


.text-input:focus {
    border-color: #00aaff;
}

.hint {
    color: #ff0000;
    font-size: 14px;
    min-height: 20px;
}

.radiocircle,
.checkboxbox {
    width: 16px;
    height: 16px;
}

button {
    width: 160px;
    height: 44px;
    line-height: 44px;
    background-color: #33a329;
    color: white;
    border: none;
    text-align: center;
}

textarea {
    width: 100%;
    height: auto;
    font-size: 14px;
    background-color: #f8f8f8;
    border: none;
    border-bottom: 1px solid black;
}

textarea:focus {
    outline: none !important;
    border-bottom: 1px solid #00aaff;
}


@media only screen and (max-width: 840px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    body {
        display: block;
    }

    .main-content,
    .sidebar {
        width: 100%;
        padding: 0;
    }

}